.scoreboard {
  display: grid;
  grid-template-columns: 100px repeat(4, 1fr);
  padding-right: 2px;
  font-family: "Helvetica", sans-serif;
  touch-action: manipulation;
}

.scoreboard__name,
.scoreboard__score {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
  font-size: xx-large;
}

.scoreboard__name {
  font-weight: bold;
  font-size: 3em;
  border-bottom: 2px solid #ddd;
}

.scoreboard__name--one {
  color: #009578;
}

.scoreboard__name--two {
  color: #2d0095;
}

.scoreboard__name--three {
  color: #f00808;
}

.scoreboard__name--four {
  color: #08d5f0;
}

.scoreboard__score {
  font-size: 5em;
}

.scoreboard__controls {
  display: flex;
  height: 50px;
}

.scoreboard__control-button {
  flex-grow: 1;
  border: none;
  background: #eee;
  cursor: pointer;
  font-size: 3em;
}

.scoreboard__control-button:hover {
  background: #ddd;
}

.scoreboard__control-button:active {
  background: #ccc;
}

.label {
  font-size: 3em;
  writing-mode: vertical-rl;
  padding-top: 1em;
  padding-left: none;
}
